<h2>Jhonatan Guedes-Santos</h2>


<h3>Interests</h3>
<ul>
  <li>Biodiversity Conservation</li>
  <li>Protected Areas</li>
  <li>Culturomics</li>
  <li>Data Science</li>
  <li>Public Policy</li>
</ul>

<h3>Contact</h3>
<ul class="fa-ul contact-list">
  <li class="contact-list-item">
    <span class="fa fa-envelope fa-lg contact-list-item-icon"></span>
    <a href="mailto:contact@gaio.studio">contact@gaio.studio</a>
  </li>
</ul>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa-brands fa-bluesky fa-lg main-list-item-icon"></span>
    <a href="https://bsky.app/profile/gaio.studio">Bluesky</a>    
  </li>
  <li class="main-list-item">
    <span class="fa fa-external-link-square fa-lg main-list-item-icon"></span>
    <a href="https://scholar.google.com.au/citations?user=RJC1nz0AAAAJ">Google Scholar Profile</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-external-link-square fa-lg main-list-item-icon"></span>
    <a href="https://orcid.org/0000-0003-3177-6496">Orcid</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-external-link-square fa-lg main-list-item-icon"></span>
    <a href="http://lattes.cnpq.br/9077539543640817">Lattes</a>
  </li>  
</ul>
